doctype html
html
  head
    title= title
    link(href="https://fonts.googleapis.com/css?family=Lato|Nobile:700" rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://cdn.socket.io/socket.io-1.4.5.js')      
    script(src='/javascripts/indexClient.js')
    
    
  body
    block content
